.table{
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
    margin-left: 5px;
    content: "\25b4";
}

.table__row:nth-child(even){
    background-color: #e5e5e5;
    background: rgba(0, 0, 0, 0.1);
    content: "\25b4";
}

.table__header{
    text-align: left;
    background-color: #009879;
    cursor: pointer;
    content: "\25b4";
}

.table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  