<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
 {% extends 'base.html' %}

 {% block head %}

 {% endblock %}

 {% block body %}
 <body>
    <hr>
        <input type="text" id="myInput" onkeyup='tableSearch()' placeholder="Name">
    <div class="order">
        <h1>Order Details</h1>
        <table id="myTable" border="1" class="table">
            <tr class="table__header">
                <th>Region</th>
                <th>Country</th>
                <th>Item Type</th>
                <th>Sales Channel</th>
                <th>Order Priority</th>
                <th>Order Date</th>
                <th>Order ID</th>
                <th>Ship Date</th>
                <th>Units Sold</th>
                <th>Unit Price</th>
                <th>Unit Cost</th>
                <th>Total Revenue</th>
                <th>Total Cost</th>
                <th>Total Profit</th>
                <th>Action</th>
            </tr>
            {% for order in orders %}
            <tr class="table__row">
                <td>{{order.Region}}</td>
                <td>{{order.Country}}</td>
                <td>{{order.itemType}}</td>
                <td>{{order.salesChannel}}</td>
                <td>{{order.orderPriority}}</td>
                <td>{{order.orderDate}}</td>
                <td>{{order.orderID}}</td>
                <td>{{order.shipDate}}</td>
                <td>{{order.unitsSold}}</td>
                <td>{{order.unitPrice}}</td>
                <td>{{order.unitCost}}</td>
                <td>{{order.totalRevenue}}</td>
                <td>{{order.totalCost}}</td>
                <td>{{order.totalProfit}}</td>
                <td>
                    <form action="/delete"  method="DELETE">
                        <input type="hidden" name="orderID" value={{order.orderID}}></input>
                        <input type="submit" value="Delete"> 
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <form action="/" method="POST">
        Region:<input type="text" name="region" id="region">
        Country:<input type="text" name="country" id="country">
        Item Type:<input type="text" name="itemType" id="itemType">
        Sales Channel:<input type="text" name="salesChannel" id="salesChannel">
        Order Priority:<input type="text" name="orderPriority" id="orderPriority">
        Order Date:<input type="date" name="orderDate" id="orderDate">
        Ship Date:<input type="date" name="shipDate" id="shipDate">
        Units Sold:<input type="number" name="unitsSold" id="unitsSold">
        Unit Price:<input type="number" name="unitPrice" id="unitPrice">
        Unit Cost:<input type="number" name="unitCost" id="unitCost">
        Total Revenue:<input type="number" name="totalRevenue" id="totalRevenue">
        Total Cost:<input type="number" name="totalCost" id="totalCost">
        Total Profit:<input type="number" name="totalProfit" id="totalProfit">
        <input type="submit" value="Add Order"> 
        </form>
    </div>
    <script type="application/javascript">
    
        function tableSearch() {
            let input, filter, table, tr, td, txtValue;

            //Intialising Variables
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for (let i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
    </script>
</body>
<script src="./static/css/tablesort.js"></script>
  {% endblock %}